# ============================================================
# SECRETS & ENV — JANGAN PERNAH COMMIT
# ============================================================
.env
.env.local
.env.*.local
.env.production
.env.staging
*.pem
*.key
*.cert
secrets/
config/secrets.json

# ============================================================
# DEPENDENCIES
# ============================================================
node_modules/
.pnp
.pnp.js

# ============================================================
# BUILD OUTPUT
# ============================================================
.next/
dist/
build/
out/
.turbo/

# ============================================================
# DATABASE
# ============================================================
*.db
*.sqlite
*.sqlite3
packages/db/prisma/migrations/*.sql.bak

# ============================================================
# UPLOADS / MEDIA (jangan commit file warga)
# ============================================================
uploads/
public/uploads/
*.pdf
*.docx
!public/assets/**

# ============================================================
# LOGS
# ============================================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ============================================================
# COVERAGE & TEST ARTIFACTS
# ============================================================
coverage/
.nyc_output/
test-results/

# ============================================================
# OS / EDITOR
# ============================================================
.DS_Store
Thumbs.db
.vscode/settings.json
.idea/
*.swp
*.swo

# ============================================================
# DOCKER VOLUMES (data lokal)
# ============================================================
infra/docker/volumes/
infra/docker/pgdata/
infra/docker/redis-data/
